*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    font-family: 'roboto', sans-serif;

}

.bg-img{

  filter: blur(8px);
}
.form{
    width: 400px;
    height: 70vh;
    color: #fff;
    font-family: 'roboto', sans-serif;
    background-color: #4e6bdb;
    opacity: 80%;
    padding-top: 60px;
    border-radius: 20px;
}
.bg{
  
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;

  background-position: center;
  font-family: 'roboto', sans-serif;
  background: url('../img/bg.png');

}
.heading{
    opacity: 1;
    text-transform: none;
    text-align: center;
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 50px;
}
input{
  width: 250px;
  color: #fff;
}

input,
.submit-btn{
    opacity: 1;
    /* width: 80%; */
    height: 35px;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    border: none;
    color: #fff;
    padding: 15px;
    transition: .5s;
    text-transform: none;
}

input::placeholder{
    color: #fff;
}

input:focus,
.submit-btn:hover{
    background: #fff;
    color: #000;
}

input:focus::placeholder{
    color: #000;
}

.submit-btn{
    width: 90px;
    padding: 0 10px;
    cursor: pointer;
    margin: 50px auto 0;
    opacity: 1;
}

.link{
    opacity: 1;
    text-align: center;
    text-transform: none;
    color: #c5c9d8;
    display: block;
    margin: 20px auto;

}
.link a{
  text-decoration: none;
  color: #fff
}

/* .link:hover{
    color: #fff;
} */

.alert-box{
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 150px;
    max-width: 90%;
    width: auto;
    height: auto;
    padding: 10px;
    text-transform: none;
    background: rgb(255, 119, 119);
    border-top: 10px solid rgb(255, 37, 37);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    font-family: 'roboto', sans-serif;
    text-align: center;
    transition: 1s;
}
